<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kepstin’s MagicISRC</title>
    <link rel="stylesheet" href="bootstrap.min.css">
<script type="text/javascript">

// Configuration

var mb_site = new URL("https://test.musicbrainz.org/");
var mb_ws2_base = new URL("ws/2/", mb_site);
var mb_oauth_base = new URL("oauth2/", mb_site);
var mb_oauth_redirect_uri = "https://magicisrc-beta.kepstin.ca/";
var mb_oauth_client_id = "sNuh2rVFO_RNUdNzj8wzMA";
var mb_oauth_client_secret = "_1KuzAcMHqb-5VRdRsa61Q"; // Not so secret after all, are you?

// Internal State

// Information about currently logged in user - auth token and user info
var login = {};
// ID of the release to operate on
var mbid = null;
// Set to false if MBID parsing fails
var mbidValid = true;
// A cached copy of the current release info fetched from MusicBrainz
var currentRelease = {};

// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
 
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
     
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
       
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
       
        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");
   
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();

(function() {
  var entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };

  this.escapeHtml = function escapeHtml(string) {
    return String(string).replace(/[&<>"'\/]/g, function (s) {
      return entityMap[s];
    });
  };
})();

function bufferToHex(buffer) {
  return Array
    .from (new Uint8Array (buffer))
    .map (b => b.toString (16).padStart (2, "0"))
    .join ("");
}

function generateStateId() {
  var stateArray = new Uint8Array(16);
  window.crypto.getRandomValues(stateArray);
  return bufferToHex(stateArray);
}

var query = {};
var errors = [];

// Return the full URL for the location indicated by params
function updateLocation(params) {
  var location = new URL(window.location.href);
  if (params == "") {
    location.search = "";
  } else {
    location.search = "?" + params;
  }
  return location;
}

// Perform a navigation to a new state, represented by a set of URL search
// parameters. This pushes the new URL as a new history item, and then
// loads the page as if it was just navigated to.
function pushState(params) {
  window.history.pushState(null, "", updateLocation(params));
  onPopState();
}

function onPopState(event) {
  errors = [];
  console.log("New location: " + window.location);
  params = new URLSearchParams(window.location.search);
  loadState(params);
}

function loadState(params) {
  checkLogin();
  checkMbid(params);
  if (params.has("state") && (params.has("code") || params.has("error"))) {
    // This is the OAuth callback
    handleLoginCallback(params);
  } else if (mbid && mbidValid) {
    handleRelease(params);
  } else {
    // Fallback: render index page
    renderIndex(params);
  }
}

function checkLogin() {
  login = JSON.parse(window.localStorage.getItem("mb_login"));

  // Ensure that login is always a hash
  if (!login) { login = {} }
  console.log("login", login);

  // Clear expired login credentials
  if (login.expires <= new Date().getTime()) {
    login = {};
    window.localStorage.removeItem("mb_login");
  }

  renderNavbar();
}

function checkMbid(params) {
  let newMbid = params.get("mbid");
  if (!newMbid || newMbid == "") {
    mbid = null;
    mbidValid = true;
    return;
  }

  m = newMbid.match(/([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})/);
  if (m && m[1]) {
    mbid = m[1];
    mbidValid = true;
    console.log("Got mbid: " + mbid);
  } else {
    mbid = newMbid;
    mbidValid = false;
  }
}

function doLogin() {
  var stateId = generateStateId();
  var state = {
    stateId: stateId,
    date: new Date().getTime(),
    params: new URL(window.location).searchParams.toString()
  };
  window.sessionStorage.setItem("mb_oauth_state", JSON.stringify(state));
  console.log("saved state:", state);

  var url = new URL("authorize", mb_oauth_base);
  var params = url.searchParams;
  params.set("response_type", "code");
  params.set("client_id", mb_oauth_client_id);
  params.set("redirect_uri", mb_oauth_redirect_uri);
  params.set("scope", "profile submit_isrc");
  params.set("approval_prompt", "force");
  params.set("state", stateId);

  window.location = url;
}

function handleLoginCallback(params) {
  renderLoginProgress();

  var stateId = params.get('state');
  var state = JSON.parse(window.sessionStorage.getItem("mb_oauth_state"));
  if (state["stateId"] != stateId) {
    return renderError("State returned from OAuth2 callback did not match saved state.");
  }

  var code = params.get('code');
  if (!code) {
    return renderError("OAuth2 callback did not return a code. Error: " + params.get("error_description"));
  }

  console.log("restored state:", state);

  // Fetch the auth token and userinfo
  fetchAccessToken(code)
    .catch(error => { renderError("When fetching OAuth2 token: " + error) })
    .then(fetchUserinfo)
    .catch(error => { renderError("When fetching OAuth2 userinfo: " + error) })
    .then(() => {
      // We want to do a full navigation here, so that a reload won't try
      // to fetch the access token again
      window.location = updateLocation(new URLSearchParams(state["params"]));
    });
}

function fetchAccessToken(code) {
  var url = new URL("token", mb_oauth_base);
  var data = new URLSearchParams();
  data.set("grant_type", "authorization_code");
  data.set("code", code);
  data.set("client_id", mb_oauth_client_id);
  data.set("client_secret", mb_oauth_client_secret);
  data.set("redirect_uri", mb_oauth_redirect_uri);
  return window.fetch(url, { method: "POST", body: data })
    .then(resolveOauthResponse)
    .then(response => {
      login = {
        accessToken: response["access_token"],
        expires: new Date().getTime() + (response["expires_in"] * 1000)
      };
      window.localStorage.setItem("mb_login", JSON.stringify(login));
    });
}

function fetchUserinfo() {
  var url = new URL("userinfo", mb_oauth_base);
  return window.fetch(url, { headers: { "Authorization": "Bearer " + login["accessToken"] } })
    .then(resolveOauthResponse)
    .then(response => {
      login["userInfo"] = response;
      window.localStorage.setItem("mb_login", JSON.stringify(login));
    });
}

function handleRelease() {
  fetchRelease(mbid)
    .then(release => {
      renderRelease(release);
    }, error => {
      renderError("When fetching MusicBrainz release: " + error)
    });
}

function fetchRelease(mbid) {
  // Check if the loaded release is the right one; if so, just use it.
  if (currentRelease.id == mbid) {
    return Promise.resolve(currentRelease);
  }

  // Load data for the requested release
  var url = new URL("release/" + mbid, mb_ws2_base);
  var params = url.searchParams;
  params.set("fmt", "json");
  params.set("inc", "artist-credits+isrcs+labels+recordings");
  return window.fetch(url)
    .then(resolveWs2ResponseJson)
    .then(response => {
      console.log(response);
      currentRelease = response;
      return response;
    });
}

function resolveOauthResponse(response) {
  if (response.ok) {
    return Promise.resolve(response.json());
  }

  return response.text()
    .then(text => {
      return Promise.reject(new Error(text));
    });
}

function resolveWs2ResponseJson(response) {
  return response.json()
    .then(body => {
      if (body["error"]) {
        return Promise.reject(new Error(body["error"]));
      }
      return Promise.resolve(body);
    });
}

function doLogout() {
  window.localStorage.removeItem("mb_login");
  onPopState();
}

function doSubmitMbid() {
  var mbid = document.getElementById("mbid").value;
  var params = new URLSearchParams(window.location.search);
  params.set("mbid", mbid);
  pushState(params);
}

function renderIndex(params) {
  var container = document.getElementById("container");
  container.innerHTML = tmpl("template_index", {
    mbid: params.get("mbid") || ""
  });
}

function renderNavbar() {
  var navbar = document.getElementById("navbar");
  var rootLocation = new URL(window.location);
  rootLocation.search = "";
  navbar.innerHTML = tmpl("template_navbar", {
    login: login,
    rootLocation: rootLocation
  });
}

function renderLoginProgress() {
  document.getElementById("container").innerHTML = tmpl("template_login_progress", {});
}

function renderError(error) {
  document.getElementById("container").innerHTML = tmpl("template_error", {error: error});
}

function renderRelease(release) {
  console.log("rendering the release!");
  var container = document.getElementById("container");
  container.innerHTML = tmpl("template_release", {
    release: release
  });
}

</script>
<script type="text/x-ejs" id="template_index">
<p>MagicISRC is a tool that makes it easy to submit ISRCs for every track on a <a href="https://musicbrainz.org/">MusicBrainz</a> release.</p>
<form method="get" onsubmit="doSubmitMbid(); return false;">
  <div class="form-group">
    <label for="mbid">Enter a release MBID:</label>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control form-control-lg<% if (!mbidValid) { %> is-invalid <% } %>" id="mbid" value="<%= escapeHtml(mbid) %>">
        <div class="invalid-feedback">The provided value doesn’t contain an MBID</div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-lg btn-primary">Load</button>
      </div>
    </div>
    <small class="form-text text-muted">
      You can also paste in a URL to a release page, or any string containing a release MBID.
    </small>
  </div>
</form>
</script>
<script type="text/x-ejs" id="template_navbar">
<a class="navbar-brand mr-auto" href="<%= escapeHtml(rootLocation) %>">kepstin’s MagicISRC</a>
<% if (login.userInfo) { %>
  <span class="navbar-text" style="margin-right: 1em"><%= escapeHtml(login.userInfo.sub) %></span>
  <form class="form-inline">
    <button class="btn btn-outline-dark" type="button" onClick="doLogout(); return false;">Logout</button>
  </form>
<% } else { %>
  <form class="form-inline">
    <button class="btn btn-outline-dark" type="button" onClick="doLogin(); return false;">Login</button>
  </form>
<% } %>
</script>
<script type="text/x-ejs" id="template_release">
<h1 class="h3">
  <%= escapeHtml(release["title"]) %><br>
  <small class="text-muted"><%= tmpl("template_ac", {ac: release["artist-credit"]}) %></small>
</h1>
<% for (var i = 0; i < release["media"].length; i++) { %>
  <% var medium = release["media"][i]; %>
  <h2 class="h5">
    <%= medium["format"] ? escapeHtml(medium["format"]) : "Medium" %> <%= escapeHtml(medium["position"]) %><%= medium["title"] ? ": " + escapeHtml(medium["title"]) : "" %>
  </h2>
  <table class="table">
    <thead>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-5">Track</th>
      <th scope="col" class="col-3">Existing ISRCs</th>
      <th scope="col" class="col-3">New ISRC</th>
    </thead>
    <tbody>
      <% for (var j = 0; j < medium["tracks"].length; j++) { %>
        <% var track = medium["tracks"][j]; %>
        <tr>
          <th scope="row"><%= escapeHtml(track["number"]) %></th>
          <td>
            <%= escapeHtml(track["title"]) %><br>
            <small class="text-muted"><%= tmpl("template_ac", {ac: track["artist-credit"]}) %></small>
          </td>
          <td>
            <ul class="list-unstyled">
              <% for (var k = 0; k < track["recording"]["isrcs"].length; k++) { %>
                <li><%= escapeHtml(track["recording"]["isrcs"][k]) %></li>
              <% } %>
            </ul>
          </td>
          <td><input id="isrc<%= i + 1 %>-<%= j + 1 %>" class="form-control" type="text"></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>
</script>
<script type="text/x-ejs" id="template_login_progress">
<h2>Logging you in…</h2>
</script>
<script type="text/x-ejs" id="template_ac"><% for (var i = 0; i < ac.length; i++) { %><%= escapeHtml(ac[i]["name"]) %><%= escapeHtml(ac[i]["joinphrase"]) %><% } %></script>
<script type="text/x-ejs" id="template_error">
<h2>A bad thing happened</h2>
<p><%= escapeHtml("" + error) %></p>
</script>
  </head>
  <body>
<nav class="navbar navbar-light bg-light mb-3">
  <div class="container" id="navbar">
    <span class="navbar-brand mr-auto">MagicISRC</span>
  </div>
</nav>
<div class="container" id="container">
<h1>kepstin’s MagicISRC</h1>
<p>If you’re seeing this, you either have Javascript disabled, or I’ve gone and broken the page.</p>
</div>
<script type="text/javascript">
window.onpopstate = onPopState;
onPopState();
</script>
  </body>
</html>
